@import '/src/main.scss';


.hero{
    background-color: $primary-color;
    padding: 10rem 0 4rem 0;
    color: $medium-white;

    .hero__content{
        max-width: 90%;
        margin: auto;
        .hero__text{
            text-align: center;
        }

        .hero__text h1{
            margin-top: 2rem;
            text-transform: uppercase;
            font-size: 40px;
        }
        .hero__text p{
            margin-top: 1rem;
            font-size: 18px;
        }

        .photo{
            display: flex;
            justify-content: center;
            margin-top: 5rem;

            .my__photo{
                width: 80%;
                border-bottom-left-radius: 100px;
            }
            .my__photo__comp{
                display: none;
            }
        }

    }
}

@media (min-width: 769px){
    .hero{
        padding: 1rem 0;
    }
}
@media (min-width: 1025px){

    .hero{
        padding: 3rem 0;
        position: relative;
        z-index: 1111 !important;
        height: 100dvh;
        display: flex;
        
        .hero__content{
            width: 80% ;
            display: flex;
            position: relative;


            .photo{
                margin-top: 0 !important;
                
                .my__photo{
                    display: none;
                }
                .my__photo__comp{
                    display: block;
                    width: 350px;
                    position: absolute;
                    // top: -1rem;
                    right: -14%;
                    border-bottom-left-radius: 100px;
                    z-index: -1;
                }
            }
            .hero__text{
                text-align: left;
                h1{
                    position: relative;
                    z-index: 111 !important;
                    background-color: $primary-color;
                    font-size: 58.5px !important;
                    width: 70%;
                    padding: 0 5px 0 0;
                }
                p{
                    width: 400px;
                }
            }
        }
    }

}


@media (min-width: 1367px){

    .hero{  
        .hero__content{
            .photo{
                .my__photo__comp{
                    width: 55%;
                    position: absolute;
                    // top: -1rem;
                    right: -14%;
                    border-bottom-left-radius: 100px;
                    z-index: -1;
                    top: -9%;
                }
            }
            .hero__text{
                text-align: left;
                h1{
                    position: relative;
                    z-index: 111 !important;
                    background-color: $primary-color;
                    font-size: 85px !important;
                    width: 70%;
                }
                p{
                    width: 400px;
                }
            }
        }
    }

}