@import '/src/main.scss';

.portfolio{
    background-color: $primary-color;
    margin: -3rem auto 3rem;
    padding: 3rem 0;
    color: $white;
    
    .portfolio__content{
        max-width: 90%;
        margin: auto;

        h2{
            color: $white;
        }

        .item{
            border-bottom: 1px solid $medium-color;
            padding: 2rem 0;

            .mobile__absolute{
                position: absolute;
                width: 30%;
                border: 2px solid $primary-color;
                border-radius: 10px;
                right: 12%;
                margin-top: 3rem;
                z-index: 1;
            }


            .portf__img{
                width: 100%;
                border: 2px solid $primary-color;
                border-radius: 10px;
            }

            h3{
                font-size: 23px;
                margin-top: 1rem;
            }

            .portfolio__link{
                margin: 2rem 0;

                a{
                    background-color: $white;
                    color: $primary-color;
                    padding: 10px 60px;
                    font-size: 18px;
                    transition: .5s;
                    border-radius: 40px;
                }
            }
        }
        .github__page{
            margin-top: 2rem;
            text-align: center;
            
            .portfolio__link{
                margin: 2rem 0;
                a{
                    background-color: $white;
                    color: $primary-color;
                    padding: 10px 50px;
                    font-size: 18px;
                }
            }
        }
    }
}


@media (min-width: 1024px){

    .portfolio__content{
        max-width: 80% !important;

        .portfolio__items{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
    
            .item{
                position: relative;
                
                .portfolio__link{
                    margin: 2rem 0;
        
                    .btn__2:hover{
                        padding: 10px 70px !important;
                    }
                }
            }
            .github__page{
                text-align: center;
    
                .portfolio__link{

                    a:hover{
                        padding: 10px 70px !important;
                    }
                }
            }
    
        }
    }
}