@import '/src/main.scss';


.about{
    max-width: 90%;
    margin: 5rem auto;
    overflow-x: hidden;
    background-color: $white;

    .about__p{
        margin-top: 2rem;
        line-height: 25px;
    }

    .personal__info{
        margin: 4rem 0;

        .detail__info{
            border-top: 1px solid $light-color;
            padding: 3rem 0;

            .per__info{
                display: grid;
                gap: 15px;
                margin-top: 1rem;
                b{
                    color: $dark-orange;
                }

                .name__percentage{
                    display: flex;
                    justify-content: space-between;

                }
                .percentage__line{
                    margin-top: 10px;
                    width: 100%;
                    background-color: $medium-white;
                    height: 4px;
                    position: relative;
                    z-index: -11;
                }

                .exp__item h3{
                    font-size: 22px;
                }

                .position__date{
                    margin-top: 10px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    // align-items: center;

                    .exp__position{
                        font-size: 18px;
                        width: 70%;
                    }

                    .exp__date{
                        width: 100px;
                        text-align: right;
                    }
                }
            }
        }

    }
}

@media (min-width: 1025px){
    .about{
        max-width: 80%;
        .personal__info{
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            .lines{
                overflow: hidden;
            }

            .details__grid{
                grid-column: 1 / 3;
            }
            .position__date{
                gap: 2rem;

                .exp__position{
                    width: auto;
                }
            }



            .connect__line{
                height: 3px;
                width: 10%;
                background-color: $light-color;
            }
        }

        
    }

}